<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whx.myspringboot.mapper.TCommentMapper">

    <resultMap id="BaseResultMap" type="com.whx.myspringboot.entity.TComment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="time" column="time" jdbcType="VARCHAR"/>
            <result property="pid" column="pid" jdbcType="INTEGER"/>
            <result property="originId" column="origin_id" jdbcType="INTEGER"/>
            <result property="articleId" column="article_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,user_id,
        time,pid,origin_id,
        article_id
    </sql>
</mapper>
